/* Veriables */

:root {
  --main-ff: "Nunito Sans";
  --extra-bg-color: #fff;
  --main-bg-color: #fafafa;
  --main-text-color: #202c36;
}

.dark {
  --extra-bg-color: #2b3844;
  --main-bg-color: #202c36;
  --main-text-color: #fff;
}